.taskbar {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #056c09;
  overflow-y: auto;
  width: 274px;
  height: 1209px;
}
.plantaholic {
  position: absolute;
  top: 25px;
  left: 60.21px;
  display: flex;
  align-items: center;
  width: 123.79px;
}
.logo-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 60.33px;
  height: 58px;
  object-fit: cover;
}
.icon-about-us,
.name-web {
  position: absolute;
  top: 57px;
  left: 36px;
  width: 184px;
  height: 58px;
}
.icon-about-us {
  top: 1.75px;
  left: -1.25px;
  width: 19.5px;
  height: 19.5px;
}
.about-us {
  position: absolute;
  top: 0;
  left: 30px;
  font-weight: 600;
  display: inline-block;
  width: 180px;
}
.item-about-us {
  position: absolute;
  top: 158px;
  left: 36px;
  width: 210px;
  height: 20px;
}
.tt-c-khu {
  position: absolute;
  top: 1px;
  left: 30px;
  font-weight: 600;
  display: inline-block;
  width: 180px;
}
.icon-all-gardern {
  position: absolute;
  top: -1.25px;
  left: -1.25px;
  width: 21.5px;
  height: 19.5px;
}
.item-all-gardens {
  position: absolute;
  top: 95px;
  left: 36px;
  width: 210px;
  height: 21px;
}
.dashboard-container {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background: linear-gradient(90deg, #84d696, #0d986a);
  box-shadow: 0 20px 55px rgba(238, 120, 108, 0.25);
  width: 246px;
  height: 66px;
}
.dashboard {
  position: absolute;
  top: 25px;
  left: 66px;
  font-weight: 600;
}
.dashboard-icon,
.item-dashboard {
  position: absolute;
  top: 23.75px;
  left: 34.75px;
  width: 22.5px;
  height: 20.5px;
}
.item-dashboard {
  top: 0;
  left: 0;
  width: 246px;
  height: 66px;
}
.info-icon {
  position: relative;
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.product {
  position: relative;
  line-height: 150%;
  font-weight: 500;
}
.icontext {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.chevron-down-icon {
  position: relative;
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.navlist,
.navlist-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 193px;
}
.navlist {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-50xl);
}
.navlist-wrapper {
  height: 24px;
}
.indicator,
.wrapper {
  align-items: center;
  justify-content: center;
}
.wrapper {
  border-radius: var(--br-mid);
  background-color: var(--red);
  display: flex;
  flex-direction: column;
  padding: 0 var(--padding-7xs-5);
}
.indicator {
  display: none;
  flex-direction: row;
  padding: var(--padding-10xs);
  text-align: center;
  font-size: var(--caption-regular-size);
  font-family: var(--footnote);
}
.navlist1 {
  position: absolute;
  top: 52px;
  left: 0;
  width: 193px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-50xl);
}
.group-parent,
.options {
  position: absolute;
  top: 810px;
  left: 36px;
  width: 193px;
  height: 76px;
  font-size: var(--headline-size);
}
.options {
  top: 167px;
  left: 14px;
  width: 246px;
  height: 886px;
  font-size: var(--font-size-mid);
  font-family: var(--font-roboto);
}
.task-bar-left {
  position: absolute;
  top: -27px;
  left: -2px;
  width: 274px;
  height: 1209px;
  color: var(--white);
  font-family: var(--font-montserrat);
}
.box-soil-hum {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--white);
  width: 164.11px;
  height: 118px;
}
.div1,
.soil-hum1 {
  position: absolute;
  top: 10px;
  left: 39px;
  letter-spacing: 0.02em;
  font-weight: 500;
  display: inline-block;
  width: 185.87px;
  height: 20.75px;
}
.div1 {
  top: 2px;
  left: 55px;
  font-weight: 600;
  width: 91.74px;
  height: 40.2px;
}
.item-container,
.vector-icon {
  position: absolute;
  height: 53.04px;
}
.vector-icon {
  top: 0;
  left: 0;
  width: 43.62px;
  object-fit: cover;
}
.item-container {
  top: 44px;
  left: 21px;
  width: 146.74px;
  font-size: var(--font-size-11xl);
  color: var(--color-midnightblue);
  font-family: var(--footnote);
}
.box-air-hum,
.soil-hum {
  position: absolute;
  top: 0;
  left: 633px;
  width: 224.88px;
  height: 118px;
}
.box-air-hum {
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--white);
  width: 178.54px;
}
.air-hum-text,
.div2 {
  position: absolute;
  top: 10px;
  left: 21.32px;
  letter-spacing: 0.02em;
  font-weight: 500;
  display: inline-block;
  width: 188.26px;
  height: 20.75px;
}
.div2 {
  top: 0;
  left: 55.35px;
  font-weight: 600;
  width: 91.74px;
  height: 40.2px;
}
.vector-icon1 {
  position: absolute;
  top: 0.29px;
  left: 0;
  width: 47.45px;
  height: 53.04px;
  object-fit: cover;
}
.item-container1 {
  position: absolute;
  top: 46px;
  left: 27.97px;
  width: 147.09px;
  height: 53.33px;
  font-size: var(--font-size-11xl);
  color: var(--color-midnightblue);
  font-family: var(--footnote);
}
.air-hum {
  position: absolute;
  top: 0;
  left: 413.68px;
  width: 209.58px;
  height: 118px;
  font-size: var(--font-size-lg);
}
.nh-sng {
  margin: 0;
}
.div3,
.text-light {
  position: absolute;
  top: 9px;
  left: 44.27px;
  letter-spacing: 0.02em;
  font-weight: 500;
  display: inline-block;
  width: 131.06px;
  height: 41.49px;
}
.div3 {
  top: 5.91px;
  left: 53.19px;
  font-weight: 600;
  width: 90.55px;
}
.item-container2 {
  position: absolute;
  top: 44.09px;
  left: 14.08px;
  width: 143.74px;
  height: 53.04px;
  font-size: var(--font-size-11xl);
  color: var(--color-midnightblue);
  font-family: var(--footnote);
}
.box-nhit,
.light {
  position: absolute;
  top: 0;
  left: 208.73px;
  width: 175.33px;
  height: 118px;
}
.box-nhit {
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--white);
  width: 168.65px;
}
.c,
.nhit {
  position: absolute;
  top: 6px;
  left: 36px;
  letter-spacing: 0.02em;
  font-weight: 500;
  display: inline-block;
  width: 119.15px;
  height: 20.75px;
}
.c {
  top: 4px;
  left: 56px;
  font-weight: 600;
  width: 113.19px;
  height: 41.49px;
}
.item-container3,
.vector-icon3 {
  position: absolute;
  height: 53.04px;
}
.vector-icon3 {
  top: 0;
  left: 0;
  width: 44.82px;
  object-fit: cover;
}
.item-container3 {
  top: 49px;
  left: 10px;
  width: 169.19px;
  font-size: var(--font-size-11xl);
  color: var(--color-midnightblue);
  font-family: var(--footnote);
}
.container-thong-so,
.temp {
  position: absolute;
  top: 0;
  left: 0;
  width: 179.19px;
  height: 118px;
}
.container-thong-so {
  top: 196px;
  left: 314px;
  width: 857.87px;
  color: var(--color-darkgreen-100);
}
.box-watering {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--white);
  width: 202.56px;
  height: 42px;
}
.dropdown-icon {
  position: absolute;
  top: 10.31px;
  left: 173.51px;
  width: 20.64px;
  height: 21.18px;
  overflow: hidden;
}
.item-dropdown-list {
  position: absolute;
  top: 9.95px;
  left: 30.17px;
  font-weight: 600;
  display: inline-block;
  width: 126.06px;
  height: 21px;
}
.garden-name {
  position: absolute;
  top: 0;
  left: 117.44px;
  box-shadow: 0 20px 70px rgba(86, 89, 146, 0.1);
  width: 202.56px;
  height: 42px;
}
.search,
.search-child {
  top: 0;
  left: 0;
  width: 100.91px;
  height: 41.58px;
}
.search-child {
  position: absolute;
  border-radius: var(--br-3xs);
  background-color: var(--white);
}
.search {
  box-shadow: 0 20px 70px rgba(86, 89, 146, 0.1);
}
.pm,
.search,
.time {
  position: absolute;
}
.pm {
  top: 9.84px;
  left: 6.76px;
  display: inline-block;
  width: 99.12px;
  height: 21px;
}
.time {
  top: 0.11px;
  left: 0;
  width: 105.88px;
  height: 41.58px;
  color: var(--color-darkgreen-100);
}
.garden-name-parent,
.group-child {
  position: absolute;
  top: 14px;
  left: 482px;
  width: 320px;
  height: 42px;
}
.group-child {
  top: 0;
  left: 0;
  border-radius: 42px;
  width: 53.22px;
  height: 52.52px;
  object-fit: cover;
}
.d-an-bnh,
.hello-nguyn-tr-container {
  position: absolute;
  top: 0;
  left: 0.57px;
  letter-spacing: 0.02em;
  display: inline-block;
  width: 428.43px;
  height: 22.71px;
}
.d-an-bnh {
  top: 33.45px;
  left: 0;
  font-size: var(--font-size-mid);
  color: var(--primary);
  width: 306.9px;
  height: 14.19px;
}
.container-info-user {
  position: absolute;
  top: 0;
  left: 74px;
  width: 429px;
  height: 47.65px;
  font-size: 25px;
  color: var(--color-darkgreen-100);
}
.group-container,
.nameavt {
  position: absolute;
  top: 0;
  left: 0;
  width: 802px;
  height: 56px;
}
.nameavt {
  top: 97px;
  left: 309px;
}
.dashboard1 {
  position: absolute;
  top: 11px;
  left: 297px;
  font-size: 40px;
  font-weight: 600;
  font-family: var(--footnote);
}
.legend-1-child {
  position: relative;
  border-radius: 50%;
  background-color: var(--indigo);
  width: 8px;
  height: 8px;
}
.offline-orders {
  position: relative;
  line-height: 150%;
}
.legend-1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.legend-2-child {
  position: relative;
  border-radius: 50%;
  background-color: var(--orange);
  width: 8px;
  height: 8px;
}
.chevron-down-icon1 {
  position: relative;
  width: 16px;
  height: 16px;
  overflow: hidden;
  flex-shrink: 0;
}
.filter,
.filter1 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.filter1 {
  border-radius: var(--br-5xs);
  background-color: var(--white);
  box-shadow: var(--shadow);
  align-items: center;
  padding: var(--padding-9xs) var(--padding-5xs) var(--padding-9xs)
    var(--padding-xs);
  gap: var(--gap-9xs);
}
.filter {
  align-items: flex-start;
  font-family: var(--footnote);
}
.legend {
  justify-content: center;
  gap: var(--gap-xl);
}
.legend,
.rightelements,
.title {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.rightelements {
  justify-content: flex-start;
  font-size: var(--caption-regular-size);
}
.title {
  position: absolute;
  top: 0;
  left: 0;
  width: 732px;
  justify-content: space-between;
}
.div4 {
  position: relative;
  line-height: 150%;
  display: inline-block;
  width: 23px;
  flex-shrink: 0;
}
.line-child {
  position: relative;
  border-top: 1px solid var(--border);
  box-sizing: border-box;
  width: 695px;
  height: 1px;
}
.line {
  width: 732px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.div5 {
  position: relative;
  line-height: 150%;
  display: inline-block;
  width: 22px;
  flex-shrink: 0;
}
.line-item {
  position: relative;
  width: 694px;
  height: 1.5px;
}
.line-parent {
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-lgi);
}
.line-parent,
.month,
.table1 {
  display: flex;
  justify-content: flex-start;
}
.month {
  flex-direction: row;
  align-items: flex-start;
  gap: var(--gap-53xl);
  text-align: left;
}
.table1 {
  position: absolute;
  top: 0;
  left: 0;
  flex-direction: column;
  align-items: center;
  gap: var(--gap-5xs);
}
.bg-icon {
  position: absolute;
  top: 29px;
  left: 286px;
  width: 27px;
  height: 181px;
}
.chart-1-icon,
.table-child {
  position: absolute;
  top: 63px;
  left: 39px;
  width: 693px;
  height: 104px;
}
.table-child {
  top: 87px;
  left: 296px;
  border-radius: 50%;
  background-color: var(--indigo);
  box-shadow: var(--shadow);
  border: 1px solid var(--white);
  box-sizing: border-box;
  width: 8px;
  height: 8px;
}
.div10 {
  position: relative;
  font-size: var(--headline-size);
  line-height: 150%;
  font-weight: 500;
  color: var(--primary);
}
.aug-2022-parent,
.info1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.info1 {
  border-radius: var(--br-5xs);
  background-color: var(--white);
  box-shadow: var(--shadow);
  align-items: flex-start;
  padding: var(--padding-xs);
}
.pin-icon {
  position: relative;
  width: 12px;
  height: 4.7px;
}
.info,
.table {
  position: absolute;
}
.info {
  top: 12px;
  left: 246px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left;
  font-size: var(--caption-regular-size);
}
.table {
  top: 54px;
  left: 0;
  width: 732px;
  height: 250px;
  text-align: right;
  font-size: var(--footnote-size);
  color: var(--secondary);
  font-family: var(--footnote);
}
.title-parent {
  position: relative;
  width: 732px;
  height: 304px;
}
.line-chart {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-xs);
  background-color: var(--white);
  border: 1px solid var(--border);
  box-sizing: border-box;
  width: 793px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xl);
}
.chart-1,
.chart-2-icon {
  position: absolute;
  top: 345px;
  left: 324px;
  width: 793px;
  height: 344px;
}
.chart-2-icon {
  top: 76px;
  left: 39px;
  width: 693px;
  height: 103px;
}
.table2 {
  position: relative;
  width: 732px;
  height: 250px;
  text-align: right;
  font-size: var(--footnote-size);
  color: var(--secondary);
  font-family: var(--footnote);
}
.chart-2,
.chart-21,
.line-chart1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 786px;
}
.line-chart1 {
  border-radius: var(--br-xs);
  background-color: var(--white);
  border: 1px solid var(--border);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xl);
  gap: 24px;
}
.chart-2,
.chart-21 {
  height: 344px;
}
.chart-2 {
  top: 701px;
  left: 331px;
}
.rounded-rectangle {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--white);
  box-shadow: 0 20px 70px rgba(86, 89, 146, 0.1);
  width: 296px;
  height: 209px;
}
.edit-button-icon,
.image-garden-icon {
  position: absolute;
  top: 52px;
  left: 13px;
  width: 271px;
  height: 147px;
  object-fit: cover;
}
.edit-button-icon {
  top: 28px;
  left: 261.04px;
  width: 15px;
  height: 13px;
}
.title-image {
  position: absolute;
  top: 9px;
  left: 105px;
  font-weight: 600;
  display: inline-block;
  width: 121px;
  height: 20px;
}
.control-table-child,
.image-garden,
.rounded-rectangle-parent {
  position: absolute;
  top: 0;
  left: 0;
  width: 296px;
  height: 209px;
}
.control-table-child,
.image-garden {
  top: 86px;
}
.control-table-child {
  top: 0;
  border-radius: var(--br-3xs);
  background-color: var(--white);
  width: 307px;
  height: 490px;
}
.title-control {
  position: absolute;
  top: 22px;
  left: 99px;
  font-weight: 600;
  display: inline-block;
  width: 145px;
}
.turn-light-child {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-xs);
  background-color: var(--white);
  box-shadow: 0 8px 24px rgba(12, 147, 89, 0.13);
  width: 229px;
  height: 134px;
}
.on {
  position: absolute;
  top: 9px;
  left: 10.14px;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 19.16px;
}
.button-on-off-child {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-base);
  width: 63.11px;
  height: 32px;
}
.button-on-off-item {
  position: absolute;
  top: 4px;
  left: 31.55px;
  border-radius: 50%;
  background-color: var(--color-seagreen);
  width: 27.05px;
  height: 24px;
}
.button-on-off {
  position: absolute;
  top: 41.78px;
  left: 1.37px;
  width: 63.11px;
  height: 32px;
}
.text-on-off {
  position: absolute;
  top: 0;
  left: 0;
  font-size: var(--font-size-mini);
  line-height: 150%;
  font-family: var(--font-roboto);
  color: var(--primary);
  display: inline-block;
  width: 83px;
}
.box-light-text,
.vector-icon4 {
  position: absolute;
  top: 0;
  left: 87.23px;
  width: 83px;
  height: 73.78px;
}
.vector-icon4 {
  height: 89.51%;
  width: 27.29%;
  top: 10.49%;
  right: 72.71%;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.item-light {
  position: absolute;
  top: 25px;
  left: 27.77px;
  width: 170.23px;
  height: 76.3px;
}
.turn-light,
.watering {
  position: absolute;
  top: 158px;
  left: 41px;
  width: 229px;
  height: 134px;
  font-size: var(--caption-regular-size);
  color: var(--color-seagreen);
  font-family: var(--font-gilroy);
}
.watering {
  top: 313px;
}
.thm-thit-b {
  position: absolute;
  top: 13px;
  left: 39.53px;
  display: inline-block;
  width: 139px;
}
.add-button-icon {
  position: absolute;
  top: 11px;
  left: 187.56px;
  width: 28.31px;
  height: 32px;
}
.box-add,
.box-add-child,
.control-table {
  position: absolute;
  width: 228.26px;
  height: 53px;
}
.box-add-child {
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: transparent;
  border: 1px solid var(--color-seagreen);
  box-sizing: border-box;
}
.box-add,
.control-table {
  top: 80px;
  left: 42.47px;
}
.control-table {
  top: 340px;
  left: 0;
  width: 307px;
  height: 490px;
}
.group-item {
  border-radius: var(--br-3xs);
  background-color: var(--white);
  box-shadow: 0 20px 70px rgba(86, 89, 146, 0.1);
}
.add-garden-inner,
.group-inner,
.group-item,
.text-add-garden {
  position: absolute;
  top: 0;
  left: 0;
  width: 296px;
  height: 59px;
}
.group-inner,
.text-add-garden {
  width: 36.89px;
  height: 38.68px;
}
.text-add-garden {
  top: 10px;
  left: 83px;
  display: inline-block;
  width: 125px;
  height: 16px;
}
.add-button-icon1 {
  position: absolute;
  top: 10px;
  left: 231px;
  width: 28px;
  height: 24px;
}
.add-garden,
.group-div {
  position: absolute;
  top: 8px;
  left: 17px;
  width: 259px;
  height: 38.68px;
}
.add-garden {
  top: 0;
  left: 0;
  width: 296px;
  height: 59px;
  font-size: var(--font-size-lg);
  color: #2c3e50;
}
.right-side {
  position: absolute;
  top: 25px;
  left: 1173px;
  width: 307px;
  height: 830px;
  font-size: var(--font-size-4xl);
}
.dashboard-2 {
  position: relative;
  background-color: #ebffe2;
  width: 100%;
  height: 1072px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--primary);
  font-family: var(--font-roboto);
}
