.taskbar {
  position: absolute;
  top: -27px;
  left: -2px;
  background-color: #056c09;
  width: 274px;
  height: 1209px;
}
.box-watering {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--white);
  width: 257px;
  height: 53px;
}
.dropdown-icon {
  position: absolute;
  top: 13px;
  left: 219px;
  width: 27px;
  height: 27px;
  overflow: hidden;
}
.item-dropdown-list {
  position: absolute;
  top: 13px;
  left: 62px;
  font-weight: 600;
}
.garden-name {
  position: absolute;
  top: 10px;
  left: 800px;
  box-shadow: 0 20px 70px rgba(86, 89, 146, 0.1);
  width: 257px;
  height: 53px;
  color: var(--primary);
}
.search-child {
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--white);
  width: 132px;
  height: 53px;
}
.pm,
.search,
.search-child {
  position: absolute;
}
.search {
  top: 0;
  left: 0;
  box-shadow: 0 20px 70px rgba(86, 89, 146, 0.1);
  width: 132px;
  height: 53px;
}
.pm {
  top: 13px;
  left: 15px;
}
.nameavt-child,
.time {
  position: absolute;
  top: 10px;
  left: 631px;
  width: 132px;
  height: 53px;
}
.nameavt-child {
  top: 0;
  left: 0;
  border-radius: 42px;
  width: 75px;
  height: 74px;
  object-fit: cover;
}
.d-an-bnh,
.hello-nguyn-tr-container {
  position: absolute;
  top: 0;
  left: 0;
  letter-spacing: 0.02em;
  display: inline-block;
  width: 490px;
}
.d-an-bnh {
  top: 38px;
  font-size: var(--font-size-mid);
  color: var(--primary);
  width: 351px;
}
.container-info-user {
  position: absolute;
  top: 5px;
  left: 91px;
  width: 490px;
  height: 58px;
}
.container-info,
.nameavt {
  position: absolute;
  height: 74px;
}
.nameavt {
  top: 0;
  left: 0;
  width: 581px;
  font-size: 27px;
}
.container-info {
  top: 130px;
  left: 323px;
  width: 1057px;
  font-size: var(--font-size-4xl);
  color: var(--color-darkgreen-100);
}
.box-soil-hum {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--white);
  width: 217px;
  height: 130px;
}
.div,
.soil-hum1 {
  position: absolute;
  top: 16px;
  left: 61px;
  letter-spacing: 0.02em;
  font-weight: 500;
}
.div {
  top: 10px;
  left: 85px;
  font-weight: 600;
}
.item-container,
.vector-icon {
  position: absolute;
  height: 58.43px;
}
.vector-icon {
  top: 0;
  left: 0;
  width: 57.68px;
  object-fit: cover;
}
.item-container {
  top: 51px;
  left: 34px;
  width: 150px;
  font-size: var(--font-size-11xl);
  color: var(--color-midnightblue);
  font-family: var(--footnote);
}
.box-air-hum,
.soil-hum {
  position: absolute;
  top: 0;
  left: 837px;
  width: 217px;
  height: 130px;
}
.box-air-hum {
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--white);
  width: 236.08px;
}
.air-hum-text,
.div1 {
  position: absolute;
  top: 16px;
  left: 32.08px;
  letter-spacing: 0.02em;
  font-weight: 500;
  display: inline-block;
  width: 169.72px;
}
.div1 {
  top: 10px;
  left: 92.48px;
  font-weight: 600;
  width: 70.72px;
}
.item-container1,
.vector-icon1 {
  position: absolute;
  height: 58.43px;
}
.vector-icon1 {
  top: 0;
  left: 0;
  width: 62.75px;
  object-fit: cover;
}
.item-container1 {
  top: 51px;
  left: 36.99px;
  width: 163.19px;
  font-size: var(--font-size-11xl);
  color: var(--color-midnightblue);
  font-family: var(--footnote);
}
.air-hum {
  position: absolute;
  top: 0;
  left: 547px;
  width: 236.08px;
  height: 130px;
}
.nh-sng {
  margin: 0;
}
.div2,
.text-light {
  position: absolute;
  top: 16px;
  left: 65px;
  letter-spacing: 0.02em;
  font-weight: 500;
}
.div2 {
  top: 6px;
  left: 85px;
  font-weight: 600;
}
.box-nhit,
.light {
  position: absolute;
  top: 0;
  left: 276px;
  width: 217px;
  height: 130px;
}
.box-nhit {
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--white);
  width: 223px;
}
.c,
.nhit {
  position: absolute;
  top: 16px;
  left: 78px;
  letter-spacing: 0.02em;
  font-weight: 500;
  display: inline-block;
  width: 82.21px;
}
.c {
  top: 6px;
  left: 77.07px;
  font-weight: 600;
  width: 71.94px;
}
.item-container3,
.vector-icon3 {
  position: absolute;
  height: 58.43px;
}
.vector-icon3 {
  top: 0;
  left: 0;
  width: 59.27px;
  object-fit: cover;
}
.item-container3 {
  top: 51px;
  left: 42px;
  width: 149.01px;
  font-size: var(--font-size-11xl);
  color: var(--color-midnightblue);
  font-family: var(--footnote);
}
.container-thong-so,
.temp {
  position: absolute;
  top: 0;
  left: 0;
  width: 223px;
  height: 130px;
}
.container-thong-so {
  top: 243px;
  left: 320px;
  width: 1054px;
  color: var(--color-darkgreen-100);
}
.icon-about-us {
  position: absolute;
  top: 1.75px;
  left: -1.25px;
  width: 19.5px;
  height: 19.5px;
}
.about-us {
  position: absolute;
  top: 0;
  left: 30px;
  font-weight: 600;
  display: inline-block;
  width: 180px;
}
.item-about-us {
  position: absolute;
  top: 158px;
  left: 36px;
  width: 210px;
  height: 20px;
}
.tt-c-khu {
  position: absolute;
  top: 1px;
  left: 30px;
  font-weight: 600;
  display: inline-block;
  width: 180px;
}
.icon-all-gardern {
  position: absolute;
  top: -1.25px;
  left: -1.25px;
  width: 21.5px;
  height: 19.5px;
}
.item-all-gardens {
  position: absolute;
  top: 95px;
  left: 36px;
  width: 210px;
  height: 21px;
}
.dashboard-container {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background: linear-gradient(90deg, #84d696, #0d986a);
  box-shadow: 0 20px 55px rgba(238, 120, 108, 0.25);
  width: 246px;
  height: 66px;
}
.dashboard1 {
  position: absolute;
  top: 25px;
  left: 66px;
  font-weight: 600;
}
.dashboard-icon {
  position: absolute;
  top: 23.75px;
  left: 34.75px;
  width: 22.5px;
  height: 20.5px;
}
.container-taskbar,
.item-dashboard {
  position: absolute;
  top: 0;
  left: 0;
  width: 246px;
  height: 66px;
}
.container-taskbar {
  top: 139px;
  left: 12px;
  height: 178px;
  font-size: var(--font-size-mid);
  color: var(--white);
}
.plantaholic {
  position: absolute;
  top: 25px;
  left: 60.21px;
  display: flex;
  align-items: center;
  width: 123.79px;
}
.logo-container,
.logo-icon {
  position: absolute;
  height: 58px;
}
.logo-icon {
  top: 0;
  left: 0;
  width: 60.33px;
  object-fit: cover;
}
.logo-container {
  top: 30px;
  left: 34px;
  width: 184px;
  color: var(--white);
  font-family: var(--font-montserrat);
}
.m {
  position: relative;
  line-height: 150%;
  font-weight: 500;
}
.legend-1-child {
  position: relative;
  border-radius: 50%;
  background-color: var(--indigo);
  width: 8px;
  height: 8px;
}
.offline-orders {
  position: relative;
  line-height: 150%;
}
.legend-1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.legend-2-child {
  position: relative;
  border-radius: 50%;
  background-color: var(--orange);
  width: 8px;
  height: 8px;
}
.chevron-down-icon {
  position: relative;
  width: 16px;
  height: 16px;
  overflow: hidden;
  flex-shrink: 0;
}
.filter,
.filter1 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.filter1 {
  border-radius: var(--br-5xs);
  background-color: var(--white);
  box-shadow: var(--shadow);
  align-items: center;
  padding: var(--padding-9xs) var(--padding-5xs) var(--padding-9xs)
    var(--padding-xs);
  gap: var(--gap-9xs);
}
.filter {
  align-items: flex-start;
  font-family: var(--footnote);
}
.legend {
  justify-content: center;
  gap: var(--gap-xl);
}
.legend,
.rightelements,
.title {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.rightelements {
  justify-content: flex-start;
  font-size: var(--caption-medium-size);
}
.title {
  width: 732px;
  justify-content: space-between;
}
.div3 {
  position: relative;
  line-height: 150%;
  display: inline-block;
  width: 23px;
  flex-shrink: 0;
}
.line-child {
  position: relative;
  border-top: 1px solid var(--border);
  box-sizing: border-box;
  width: 695px;
  height: 1px;
}
.div4 {
  position: relative;
  line-height: 150%;
  display: inline-block;
  width: 22px;
  flex-shrink: 0;
}
.line-item {
  position: relative;
  width: 694px;
  height: 1.5px;
}
.line-parent {
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-lgi);
}
.line-parent,
.month,
.table1 {
  display: flex;
  justify-content: flex-start;
}
.month {
  flex-direction: row;
  align-items: flex-start;
  gap: var(--gap-53xl);
  text-align: left;
}
.table1 {
  position: absolute;
  top: 0;
  left: 0;
  flex-direction: column;
  align-items: center;
  gap: var(--gap-5xs);
}
.bg-icon {
  position: absolute;
  top: 29px;
  left: 286px;
  width: 27px;
  height: 181px;
}
.chart-2-icon,
.table-child {
  position: absolute;
  top: 76px;
  left: 39px;
  width: 693px;
  height: 103px;
}
.table-child {
  top: 87px;
  left: 296px;
  border-radius: 50%;
  background-color: var(--indigo);
  box-shadow: var(--shadow);
  border: 1px solid var(--white);
  box-sizing: border-box;
  width: 8px;
  height: 8px;
}
.div9 {
  position: relative;
  font-size: var(--headline-size);
  line-height: 150%;
  font-weight: 500;
  color: var(--primary);
}
.aug-2022-parent,
.info1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.info1 {
  border-radius: var(--br-5xs);
  background-color: var(--white);
  box-shadow: var(--shadow);
  align-items: flex-start;
  padding: var(--padding-xs);
}
.pin-icon {
  position: relative;
  width: 12px;
  height: 4.7px;
}
.info {
  position: absolute;
  top: 12px;
  left: 246px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left;
  font-size: var(--caption-medium-size);
}
.table {
  position: relative;
  width: 732px;
  height: 250px;
  text-align: right;
  font-size: var(--footnote-size);
  color: var(--secondary);
  font-family: var(--footnote);
}
.line-chart {
  border-radius: var(--br-xs);
  background-color: var(--white);
  border: 1px solid var(--border);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xl);
  gap: var(--gap-5xl);
}
.more-icon {
  position: relative;
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.header {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.circle-chart-icon,
.legend-1-item {
  position: relative;
  width: 216px;
  height: 216px;
}
.legend-1-item {
  border-radius: 50%;
  background-color: var(--green);
  width: 8px;
  height: 8px;
}
.chart,
.legend1 {
  display: flex;
  gap: var(--gap-xl);
}
.legend1 {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--caption-medium-size);
}
.chart {
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
.circle-chart,
.humi-graph {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.circle-chart {
  border-radius: var(--br-xs);
  background-color: var(--white);
  border: 1px solid var(--border);
  box-sizing: border-box;
  width: 256px;
  padding: var(--padding-xl);
}
.humi-graph {
  position: absolute;
  top: 808px;
  left: 320px;
  gap: var(--gap-13xl);
}
.chart-1-icon {
  position: absolute;
  top: 63px;
  left: 39px;
  width: 693px;
  height: 104px;
}
.icontext,
.temp-graph {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.temp-graph {
  position: absolute;
  top: 419px;
  left: 320px;
  gap: var(--gap-13xl);
}
.icontext {
  gap: var(--gap-xs);
}
.chevron-down-icon2 {
  position: relative;
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.navlist {
  width: 193px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-50xl);
}
.indicator,
.wrapper {
  align-items: center;
  justify-content: center;
}
.wrapper {
  border-radius: var(--br-mid);
  background-color: var(--red);
  display: flex;
  flex-direction: column;
  padding: 0 var(--padding-7xs-5);
}
.indicator {
  display: none;
  flex-direction: row;
  padding: var(--padding-10xs);
  text-align: center;
  font-size: var(--caption-medium-size);
  font-family: var(--footnote);
}
.bottommenu,
.navlist1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.navlist1 {
  width: 193px;
  overflow: hidden;
  flex-direction: row;
  gap: var(--gap-50xl);
}
.bottommenu {
  position: absolute;
  top: 1063px;
  left: 48px;
  flex-direction: column;
  gap: 28px;
  font-size: var(--headline-size);
  color: var(--white);
}
.add-garden-child {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--white);
  box-shadow: 0 20px 70px rgba(86, 89, 146, 0.1);
  width: 347px;
  height: 76px;
}
.icon-add-garden {
  position: absolute;
  top: 14px;
  left: 29px;
  width: 50px;
  height: 50px;
}
.text-add-garden {
  position: absolute;
  top: 27px;
  left: 136px;
  display: inline-block;
  width: 102px;
}
.add-garden,
.button-add-icon {
  position: absolute;
  top: 26px;
  left: 294px;
  width: 25px;
  height: 25px;
}
.add-garden {
  top: 0;
  left: 1109px;
  width: 347px;
  height: 76px;
}
.dashboard2 {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 40px;
  font-weight: 600;
  font-family: var(--footnote);
  color: var(--primary);
}
.container-title-dashboard {
  position: absolute;
  top: 44px;
  left: 323px;
  width: 1456px;
  height: 76px;
  font-size: 18px;
  color: #2c3e50;
}
.rounded-rectangle {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--white);
  box-shadow: 0 20px 70px rgba(86, 89, 146, 0.1);
  width: 347px;
  height: 295px;
}
.edit-button-icon,
.image-garden-icon {
  position: absolute;
  top: 72px;
  left: 16px;
  width: 316px;
  height: 197px;
  object-fit: cover;
}
.edit-button-icon {
  top: 5px;
  left: 175.04px;
  width: 17px;
  height: 16px;
}
.title-image {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 600;
}
.container {
  position: absolute;
  top: 20px;
  left: 131px;
  width: 192px;
  height: 27px;
}
.container-garden-image {
  position: absolute;
  top: 165px;
  left: 1432px;
  width: 347px;
  height: 295px;
  font-size: var(--font-size-4xl);
}
.container-control-child {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--white);
  width: 347px;
  height: 558px;
}
.title-control {
  position: absolute;
  top: 22px;
  left: 112px;
  font-weight: 600;
}
.light-container-child {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-xs);
  background-color: var(--white);
  box-shadow: 0 8px 24px rgba(12, 147, 89, 0.13);
  width: 259px;
  height: 134px;
}
.on {
  position: absolute;
  top: 9px;
  left: 11.46px;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 21.65px;
}
.button-on-off-child {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-base);
  width: 71.33px;
  height: 32px;
}
.button-on-off-item {
  position: absolute;
  top: 4px;
  left: 35.67px;
  border-radius: 50%;
  background-color: var(--color-seagreen);
  width: 30.57px;
  height: 24px;
}
.button-on-off {
  position: absolute;
  top: 30px;
  left: 1px;
  width: 71.33px;
  height: 32px;
}
.text-on-off {
  position: absolute;
  top: 0;
  left: 0;
  font-size: var(--font-size-mini);
  line-height: 150%;
  font-family: var(--font-roboto);
  color: var(--primary);
  display: inline-block;
  width: 82px;
}
.box-light-text,
.vector-icon4 {
  position: absolute;
  top: 3.78px;
  left: 85px;
  width: 82px;
  height: 62px;
}
.vector-icon4 {
  height: 100%;
  width: 31.74%;
  top: 0;
  right: 68.26%;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.item-light,
.light-container {
  position: absolute;
  top: 33px;
  left: 46px;
  width: 167px;
  height: 68.3px;
}
.light-container {
  top: 197px;
  left: 47px;
  width: 259px;
  height: 134px;
  font-size: var(--caption-medium-size);
  color: var(--color-seagreen);
  font-family: var(--font-gilroy);
}
.watering,
.watering-child {
  position: absolute;
  width: 258px;
  height: 143px;
}
.watering-child {
  top: 0;
  left: 0;
  border-radius: var(--br-xs);
  background-color: var(--white);
  box-shadow: 0 8px 24px rgba(12, 147, 89, 0.13);
}
.watering {
  top: 382px;
  left: 45px;
  font-size: var(--caption-medium-size);
  color: var(--color-seagreen);
  font-family: var(--font-gilroy);
}
.add-button-icon,
.thm-thit-b {
  position: absolute;
  top: 13px;
  left: 45px;
}
.add-button-icon {
  top: 11px;
  left: 212px;
  width: 32px;
  height: 32px;
}
.box-add-child {
  border-radius: var(--br-3xs);
  background-color: transparent;
  border: 1px solid var(--color-seagreen);
  box-sizing: border-box;
}
.add-device,
.box-add,
.box-add-child {
  position: absolute;
  top: 0;
  left: 0;
  width: 258px;
  height: 53px;
}
.add-device {
  top: 80px;
  left: 48px;
}
.container-control {
  position: absolute;
  top: 507px;
  left: 1432px;
  width: 347px;
  height: 558px;
  font-size: var(--font-size-4xl);
}
.dashboard {
  position: relative;
  background-color: #ebffe2;
  width: 100%;
  height: 1182px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--primary);
  font-family: var(--font-roboto);
}
